.swiper-container {
	width: 100%;
	height: 550px;
}

.swiper-container h2 {
	color: #145da1;
}

.slide-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 550px;
}

.swiper-pagination.swiper-pagination-custom {
	top: 50%;
	transform: translateY(-43%);
	right: 27%;
	left: unset;
	width: auto;
	bottom: unset;
	text-align: right;
}
.custom-pagination .name {
	font-size: 1.5rem;
	color: #145da1;
}

.custom-pagination .numbers {
	font-size: 1.2rem;
	color: #000;
	margin-top: 10px;
}

.slide-content,
.slide-image {
	flex-basis: 50%;
	box-sizing: border-box;
}

.slide-image {
	text-align: right;
}

.slide-image img {
	max-height: 550px;
}

.swiper-button-next {
	left: 70%;
	top: 65%;
}

.swiper-button-next:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 20px 0 20px;
	border-color: #145da1 transparent transparent transparent;
}

.swiper-button-prev {
	left: 70%;
	top: 35%;
}

.swiper-button-prev:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 30px 20px;
	border-color: transparent transparent #145da1 transparent;
}
